* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    line-height: 2em;
    background-color: #CCCCCC;
  }
  
  h1, p {
    text-align: center;
  }
  
  #img-div, #img-caption {
    background-color: rgb(255, 255, 255);
    margin: 10px;
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #tribute-info {
    text-align: center;
  }
  
  ul {
    text-align: left;
    width: 50%;
    margin: 0 auto;
  }